/*green#1E221B  lightgreen#465F55    grey#979EA4    offwhite#D7D7DA     tan#8C856B*/

body {
    background-attachment: fixed;
}
img{
  width:100%;
  max-width:100%;
}

.container {
  padding-top: 100px;
}

.navbar {
  position:fixed;
  width:100%;
  height:65px;
  background-color:#fff;
  z-index:10;
  border-radius:0;
  border-color:transparent;
  padding:0;
}

.navbg {
  background-color: #283335;

}

.toplink {
  color: #D7D7DA;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding-left: 12px;
}

.userpass {
  padding-top: 12px;
}

.loginbtn {
  padding-left: 15px;
  padding-right: 15px;
}

.homelink {
  color: #D7D7DA;
  padding-left: 12px;
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 30px;


}

.carouselimg {
  width: auto;
  height: 100vh;
}

.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:20%;
  width:500px;
  text-align:center;
  right: 0;
  left: 0;
  margin: auto;
}

.logo {
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 100px;
}

.companyname {
  font-family: 'Zilla Slab Highlight', cursive;
  text-align: center;
  width:100%;
  margin-top: 100px;
  margin-bottom: 25px;
  color: #8C856B;
  font-size: 50px;
}


/*.maintileimg {*/
/*  width: 200px;*/
/*}*/
