{%extends 'base.html'%}

<head>
    <title>Log In</title>
</head>

{%block content%}
<div class="overlay"><h1 class="logo">Error 404<br>Fun Not Found</h1></div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner carouselimg">
    <div class="carousel-item active" data-interval="6000">
      <img src="https://images.unsplash.com/photo-1498570019007-0d2f15c93d48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="6000">
      <img src="https://images.unsplash.com/photo-1517043486975-13298d39d4d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="6000">
      <img src="https://images.unsplash.com/photo-1488401318902-f7feae66db20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" class="d-block w-100" alt="...">
    </div>
  </div>
</div>


{%endblock content%}
