{%extends 'base.html'%}

{%block content%}
<h1 class="companyname">Error 404<br>Fish Not Found</h1>
{% for tool in object_list %}
    <div class="col-3 itemcard">
    <div class="card-deck">
      <div class="card">
          <img class="card-img-top maintileimg" src="{{tool.model_pic}}">
        <div class="card-body">
            <h5 class="card-title"><a class="" href="{% url 'tools_detail' tool.pk %}">{{tool.toolname}}</a></h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button>Rent</button>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    </div>

{%endfor%}
{%endblock content%}


