{% extends 'base.html' %}

{%block content%}

        <div class="squaredetail">
            <h1 class=""><a href="{% url 'edit_tool' bike.pk %}">{{bike.bike_name}}</a></h1>
            <div class="avail">
                <div class="detailinfo">
                    <span>{{bike.bike_type}}/</span>
                    <span>{{bike.owner}}</span>
                    <span>({{bike.location}})</span>
                    <span>{{bike.available}}</span>
                </div>
                <img src="{{bike.model_pic}}">
                <p class="description">{{bike.description}}</p>
            </div>
        </div>


{%endblock content%}